
* {
padding: 0%;
    box-sizing: border-box;
}

:root {
    --azul: #0ddfff;
    --rojo: #f42d2d;
    --negro: #000;
    --blanco: #ffffff;
    --fondoNav: #141414;
    --violeta: #730bcd;
}

html {
    font-size: 82.5%;
}

body {
    color: var(--blanco);
    background-color: var(--negro);
    font-family: "Oxygen", sans-serif;
}

main {
    display: flex;
    justify-content: center;
}


/* HEADER */
.header_titulo {
    color: var(--rojo);
    font-family: 'Bebas Neue';
    text-decoration: underline;
}

header {
    display: flex;
    align-items: center;
    justify-content: center;
    background-color: var(--negro);
}

#logo {
    height: 10ch;
    width: 10ch;
}


/*NAVBAR*/

nav {
    display: flex;
    justify-content: space-around;
    background-color: var(--fondoNav);
    gap: 5px;
    margin-top: 1%;
    margin-bottom: 2%;
}


nav a {
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 5px;
    text-decoration: none;
    color: var(--negro);
    height: 27px;
    width: 150px;
    font-family: 'Bebas Neue';
    letter-spacing: 5px;
    padding: 4px;
}

.color-rojo {
    background-color: var(--rojo);
}

.color-rojo:hover {
    background-color: var(--rojo);
    color: var(--negro);
    transform: scale(1.3);
}

.color-azul {
    background-color: var(--azul);
}

.color-azul:hover {
    background-color: var(--azul);
    color: var(--negro);
    transform: scale(1.3);
}

a {
    text-decoration: none;
    color: var(--negro);
}

/* Columna 1 */

.contenedor_foto_nombre {
    margin-left: 15px;
    margin-right: 20px;
    padding-top: 10px;
    padding-right: 30px;
    border-right-style: solid;
    border-right-color: var(--azul);
}

.imagen_perfil {
    border-radius: 50%;
    background: var(--blanco);
    border-style: groove;
    border-width: 38%;
    border-color: var(--violeta);
}

h4 {
    text-align: center;
}

/* Columna 2 */
.contenedor-columna {
    padding-top: 10px;
    padding-right: 30px;
    border-right-style: solid;
    border-right-color: var(--azul);
}

.columna1 {
    margin-right: 20px;
}

article {
    margin-right: 10px;
}

ul li {
    display: flex;
    justify-content: end;
    margin-right: 30px;
    margin-top: 10px;
}

/* Columna 3 */
.titulo_metodo_de_pago {
    margin-left: 20px;
}

.lista-segundo-articulo li {
    justify-content: flex-start;
}

.input-tarjeta {
    margin-left: 10px;
    height: 20px;
    border-radius: 10%;
}

.input-tarjeta2 {
    height: 20px;
    width: 20%;
    margin-left: 10px;
    border-radius: 10%;
}

.lista-pago-facil {
    margin-left: 30px;
}

/*Botones*/

.contenedor-botones {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
}

.boton {
    padding: 10px 20px;
    margin-left: 10px;
    border-radius: 5px;
    border-style: none;
    text-transform: uppercase;
    font-weight: bold;
    color: var(--blanco);
}

.boton:hover {
    cursor: pointer;
}

/*hace que se hunda el button*/
.boton:active {
    transform: translateY(2px);
}

#guardar {
    background-color: var(--azul);
    margin-bottom: 10px;
}

#cancelar {
    background-color: var(--rojo);
}



#correciones1{
    color: #f42d2d;
}


footer{
    background-color: #141414;
    display: flex;
    justify-content: space-between;
    padding:2em ;

}

.footer-iconos{
font-size: 2em;

}

.footer-iconos ol{
    display: flex;
}

.li-links-footer {
    font-size: 1em;
    text-align:left;
    list-style: none;
    margin-top: 0.7em;
    margin-left: 1em;

}
.li-links-footer a{

    color: #ffffff;

}
.li-iconos-footer{
    font-size: 1em;
    text-align:left;
    list-style: none;
    margin-left: 0.7em;
    margin-right: 1em ;
}

.footer-copy{
    display: flex ;
align-items: flex-end;
justify-content: center;

}

