:root {
    --azul: #0ddfff;
    --rojo: #f42d2d;
    --negro: #000;
    --blanco: #ffffff;
}

body {
    background-color: #010406;
    font-family: 'Oxygen';
}

/*Generales*/

p {
    margin-left: 80px;
    color: #FFFFFF;
}

h2 {
    color: #FFFFFF;
    font-family: 'Bebas Neue';
    margin-left: 10%;
}

span {
    color: #FFFFFF;
}

#notflix_span {
    position: absolute;
    right: 20%;
    color: var(--rojo);
    font-family: "Bebas Neue", sans-serif;
}

input {
    background-color: #ffffff;
    height: 25px;
    border: none;
    border-radius: 4px;
}

section {
    margin-bottom: 7%;
}

/*Columna 1*/

form {
    display: flex;
    flex-direction: column;
    border-style: solid;
    border-bottom-color: transparent;
    border-right-color: #0ddfff;
    height: 37em;
    padding: 1%;
}

form label {
    display: inline-block;
    text-align: left;
    min-width: 31%;
    color: #FFFFFF;
}

form input {
    margin: 3% 0;
    display: inline-block;
    margin-left: 10%;
}

.formulario_registro {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    align-content: stretch;
    align-items: baseline;
    justify-content: space-evenly;
    line-height: 1.5em;
    margin: 0 auto;
}

.datos_iniciales {
    padding: 4%;
    height: 33em;
    width: 30em;
}

/* Columna 2 */

.metodo_de_pago {
    border-left-style: solid;
    border-left-color: var(--azul);
    border-top-color: transparent;
    padding: 2%;
    height: 35em;
    width: 33em;
    margin: 1%;
    color: var(--blanco);
}

#chk_box {
    margin-left: 20%;
}

#numero_tarjeta {
    margin-left: 20%;
}


#numero_de_seguridad{
    margin-left: 1%;

}
.radio {
    display: flex;
    align-items: center;
}

/*Botones*/

.contenedor-botones {
    display: flex;
    flex-direction: row;
    align-items: flex-start;
    margin-top: 10%;
    margin-left: 12%;
}

.boton {
    padding: 10px 30px;
    margin-left: 10px;
    border-radius: 5px;
    border-style: none;
    text-transform: uppercase;
    font-weight: bold;
    color: var(--blanco);
}

.boton:hover {
    cursor: pointer;
}
/*hace que se hunda el button*/
.boton:active {
    transform: translateY(2px);
}

#enviar {
    background-color: var(--azul);
    margin-bottom: 10px;
}

#limpiar {
    background-color: var(--rojo);
}


.error {
    color: crimson;
}


/*Mobile*/
@media (max-width:480px){
    .metodo_de_pago{
        margin-top: 3em;
        border-top-color: #0ddfff;
        border-right-color: transparent;
        border-bottom-color: transparent;
        border-left-color: transparent;
    }
    form{
        border-bottom-color: #0ddfff;
        border-right-color: transparent;
        height: 42em;
    }
    form input{
        display: block;
        margin-left: 20%;
    }

    form label{
        margin-left: 5%;
    }
    #notflix_span{
        right: 3%;
    }
    h2{
        margin-left: 1%;
    }
   
    #numero_de_seguridad{
        margin-left: 20%;

    }
    .datos_iniciales{
        height: 42em;
    }
    .error p{
        margin-left: 1%;
    }
  
}



/*Tablet*/
@media (min-width: 481px) and (max-width: 1024px) {

    form{
        border-style: solid;
        border-bottom-color: #0ddfff;
        border-right-color: transparent;
        height: 37em;
        width: 29em;
        padding: 1%;
        
    }

    .metodo_de_pago{
        
        border-style: solid;
        border-top-color: #0ddfff;
        border-right-color: transparent;
        border-bottom-color: transparent;
        border-left-color: transparent;

        margin-top: 10%;
        height: 33em;
        width: 32em;
        padding: 1%;
    }


    .error p{
        margin-left: 1%;
    }
    
}