:root {
    --azul: #53DFF5;
    --rojo: #f42d2d;
    --negro: #000;
    --blanco: #ffffff;
    --fondoNav: #141414;
}

body {
    color: var(--blanco);
    background-color: var(--negro);
    font-family: "Oxygen", sans-serif;
}

html {
    scroll-behavior: smooth;
}

span {
    font-family: 'Bebas Neue';
}


/*HEADER*/

header {
    display: flex;
    align-items: center;
    justify-content: center;
    background-color: var(--negro);
}

#logo {
    height: 10ch;
    width: 10ch;
}

.header_titulo {
    color: var(--rojo);
    font-family: 'Bebas Neue';
    text-decoration: underline;
}

/*NAVBAR*/

nav {
    display: flex;
    justify-content: space-around;
    background-color: var(--fondoNav);
    gap: 5px;
    margin-top: 1%;
    margin-bottom: 2%;
}

nav a {
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 5px;
    text-decoration: none;
    color: var(--negro);
    height: 27px;
    width: 150px;
    font-family: 'Bebas Neue';
    letter-spacing: 5px;
    padding: 4px;
}

.color-rojo {
    background-color: var(--rojo);
}

.color-rojo:hover {
    background-color: var(--rojo);
    color: var(--negro);
    transform: scale(1.3);
}

.color-azul {
    background-color: var(--azul);
}

.color-azul:hover {
    background-color: var(--azul);
    color: var(--negro);
    transform: scale(1.3);
}

a {
    text-decoration: none;
    color: black;
}

/*CATEGORIAS*/

.caja_filtro {
    margin-top: 50px;
    display: flex;
    justify-content: space-around;
}

.categorias {
    width: 50ch;
    float: left;
    padding-left: 15ch;
}

label {
    color: var(--blanco);
    font-family: 'Oxygen';
}

.categorias select {
    margin-left: 10px;
    height: 30px;
    width: 30ch;
    border-radius: 5px;
    outline: none;
}

button{
    margin-left: 5%;
}

/*BARRA DE BUSQUEDA*/
.barra_de_busqueda {
    margin-left: 5px;
    float: right;
    display: flex;
    align-items: center;
    width: max-content;
    padding-right: 10ch;
}

.barra_de_busqueda input {
    border-radius: 50px;
    height: 30px;
    width: 40ch;
    padding-left: 10px;
    border: none;
    outline: none;
    margin-left: 10px;
}

#busqueda {
    color: var(--blanco);
}


/* Contenido peliculas - series */

#titulo_pelicula {
    color: var(--azul);
    padding-left: 12ch;
    margin-top: 100px;
    text-decoration-line: overline;
    font-family: 'Oxygen';
}

#titulo_serie {
    color: var(--rojo);
    padding-left: 12ch;
    margin-top: 100px;
    text-decoration-line: overline;
    font-family: 'Oxygen';
}

.contenido_peliculas {
    margin-top: 5%;
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
}


.contenido_series {
    margin-top: 90px;
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
}

.contenido_peliculas img {
    height: 400px;
    width: 300px;
    border: 5px solid var(--azul);
    transition: 0.2s;
    /*para que no se transforme al instante sino gradualmente*/
}

.contenido_series img {
    height: 400px;
    width: 300px;
    border: 5px solid #5c0000;
    transition: 0.2s;
    /*para que no se transforme al instante sino gradualmente*/
}

.contenido_peliculas :hover {
    transform: scale(1.2);
}

.contenido_series :hover {
    transform: scale(1.2);
}

/* Flecha */
.flechaArriba {
    position: fixed;
    width: 50px;
    height: 50px;
    background: #00084a;
    border-radius: 50%;
    bottom: 40px;
    right: 50px;
    text-decoration: none;
    text-align: center;
    line-height: 50px;
    color: var(--blanco);
}

/* Footer */

.footer {
    background-color: #141414;
    padding: 40px 0;
}

.footer-grid {
    display: grid;
    grid-template-columns: 25% 25% 25% 25%;
}

.lista,
.lista-iconos {
    list-style: none;
}

.lista li {
    padding: 10px;
    text-align: start;
    margin-left: 15%;
}

.lista a {
    text-decoration: none;
    font-size: 18px;
    color: rgba(255, 255, 255, 0.553);
}

.lista a:hover {
    color: var(--blanco);
}

/*iconos*/

.footer-iconos {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.lista-iconos li {
    display: inline;
    padding: 10px;
}

.footer-iconos h3 {
    color: rgba(255, 255, 255, 0.553);
}

.footer-iconos i {
    color: rgba(255, 255, 255, 0.614);
    transform: scale(110%);
}

.footer i:hover {
    cursor: pointer;
}





/* RESPONSIVE DESIGN*/

@media screen and (max-width: 896px) and (min-width: 360px) {

    body {
        background-color: rgb(0, 0, 0);
        height: 100%;
        width: 100%;
    }

    html {
        height: 100%;
        width: 100%;
    }

    nav {
        display: flex;
        justify-content: space-around;
        background-color: #141414;
        gap: 5px;
        margin-top: 1%;
        margin-bottom: 2%;
        flex-wrap: wrap;
    }

    .barra_de_busqueda {
        width: 50ch;
        display: grid;
        justify-items: start;
        align-content: center;
        grid-template-columns: 1fr 1fr;

    }

    #logo {
        height: 15ch;
        width: 15ch;
    }



    .header_titulo {
        color: red;
        font-family: 'Bebas Neue';
        text-decoration: underline;
        font-size: 300%;


    }

    header {
        display: flex;
        align-items: center;
        justify-content: center;
        background-color: #000000;
    }


    .caja_filtro {
        margin-top: 10%;
        display: grid;
        grid-template-rows: 50px 50px;
        justify-items: start;
        align-content: center;
    }

    .categorias {
        width: 50ch;
        display: grid;
        justify-items: start;
        align-content: center;
        grid-template-columns: 1fr 1fr;
    }

    .categorias select {
        height: 30px;
        width: 21ch;
        border-radius: 5px;
    }

    #titulo_pelicula {
        color: #00e8ef;
        text-decoration-line: overline;
        font-family: 'Oxygen';
        text-align: center;
    }

    #titulo_serie {
        margin-top: 100px;
        color: red;
        text-decoration-line: overline;
        font-family: 'Oxygen';
        text-align: center;
    }

    .flechaArriba {
        position: fixed;
        width: 70px;
        height: 70px;
        background: #00084a;
        border-radius: 50%;
        bottom: 10%;
        right: 14%;
        text-decoration: none;
        text-align: center;
        line-height: 70px;
        color: white;
    }

    .contenido_peliculas {
        display: grid;
        grid-template-columns: 50%;
        margin-top: 90px;
        margin-left: 10%;
    }

    .contenido_series {
        display: grid;
        grid-template-columns: 50%;
        margin-top: 90px;
        margin-left: 10%;
    }

    .barra_de_busqueda input {
        border-radius: 50px;
        height: 30px;
        width: 21ch;
    }

    .footer-grid {
        display: grid;
        grid-template-columns: 50% 50%;
    }

}

@media (max-width: 515px) {
    .footer-grid {
        display: grid;
        grid-template-columns: 50% 50%;
    }
    
    .lista-iconos li {
        display: block;
        padding: 10px;
    }
    
    .footer-iconos i {
        transform: scale(100%);
    }
}